@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

:root {
  --white-color: #ffffff;
  --light-grey-color: #aaaaaa;
  --orange-color: #e88c0e;
  --light-green-color: #0b3927;
  --lighter-green-color: #11553b;
  --hover-green-color: #1a7f58;
  --dark-green-color: #061c14;
  --black-color: #000000;

  --body-font: "Raleway", sans-serif;
  --h1-font-size: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1104px) {
  :root {
    --logo-font-size: 40px;
    --medium-font-size: 16px;
    --large-font-size: 20px;
    --h1-font-weight: 700;
    --medium-font-weight: 400;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: var(--white-color);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.15em;
}

.nav__logo h1 {
  font-family: var(--body-font);
  font-size: 24px;
  font-weight: 700;
}

.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo img {
  width: 27px;
  height: 38px;
}
.nav__tray__icon img {
  width: 32px;
  height: 32px;
}

.nav__menu {
  display: none;
}

.nav__hamburger__menu {
  display: none;
}

.hamburger__menu__active {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  overflow-x: hidden;
  transition: 0.5s;
}

.hamburger__menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-left: 1em;
  margin-right: 1em;
}

.hamburger__menu__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 94px;
  gap: 8px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2.5em;
}

.hamburger__menu__help {
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--light-grey-color);
  width: 264px;
  height: 38px;
  text-align: center;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  padding: 0.5em 1em;
}

.hamburger__menu__help a {
  text-decoration: none;
}

.btn__flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

.hamburger__form__btn {
  display: inline-block;
  transition: 0.3s;
  border-radius: 1em;
}

.hamburger__form__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--light-grey-color);
  width: 264px;
  height: 48px;
  gap: 152px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
}

.hamburger__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hamburger__form button,
.hamburger__form input {
  border: none;
  outline: none;
}
.hamburger__form button:hover {
  cursor: pointer;
}

.hamburger__menu__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.hamburger__login__btn {
  width: 264px;
  height: 48px;
  border-radius: 0.5em;
  background-color: var(--lighter-green-color);
  color: var(--white-color);
  text-align: center;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.hamburger__menu__btn__text {
  width: 209px;
  height: 20px;
}
.hamburger__menu__btn__text p {
  text-align: center;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 300;
  color: var(--black-color);
}

.hamburger__menu__btn__text span {
  color: var(--lighter-green-color);
  font-weight: 700;
}

.mySlides {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.fade-in-image {
  animation: fadeIn 6s ease;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}
.container {
  color: var(--white-color);
}

.centered {
  position: absolute;
  width: 100%;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: var(--body-font);
  padding: 1em;
  margin-top: 10em;
  /* gap: 16px; */
}

.centered h1 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0.25em;
  line-height: 40px;
}

.centered span {
  color: var(--orange-color);
}

.centered p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}
.centered__btn {
  padding: 12px 40px;
  background: var(--orange-color);
  border-radius: 8px;
  border: none;
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
}

main {
  width: 100%;
}

.content__container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-green-color);
  width: 100%;
  height: fit-content;
  color: var(--black-color);
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 16px;
  padding: 1em;
  line-height: 24px;
  gap: 20px;
}

.content__box__1,
.content__box__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 4px 40px rgba(232, 140, 14, 0.3);
  border-radius: 24px;
  padding: 2em;
}

.content__box__2 {
  margin-bottom: 3em;
}

.content__box__1 {
  margin-top: 3em;
  margin-bottom: 2em;
}

.content__box__image {
  justify-items: center;
  margin-bottom: 1em;
}

.content__box__image img {
  width: 120px;
  height: 120px;
}

.content__box__1 h2,
.content__box__2 h2 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 1em;
}

.content__box__1 span,
.content__box__2 span {
  color: var(--orange-color);
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-green-color);
  color: var(--white-color);
  padding: 1em;
  gap: 40px;
}

.footer__logo {
  display: flex;
}
.footer__logo img {
  width: 42px;
  height: 42px;
  margin-top: 1em;
}
.footer__logo__text {
  display: flex;
  flex-direction: column;
}

.footer__logo__text h1 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0.3em;
}

.footer__logo__text p {
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 12px;
}

.footer__form__section {
  width: 100%;
  display: flex;
  margin-top: 1em;
}

.footer__form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__form__container p {
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 300;
}

.footer__input {
  box-sizing: border-box;
  width: 70%;
  height: 42px;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  color: var(--light-grey-color);
  background-color: var(--white-color);
  font-size: 16px;
  border-radius: 4px 0px 0px 4px;
  padding: 10px 16px;
  border: 1px solid var(--orange-color);
}

.form__btn {
  /* align-self: center;
    justify-self: center; */
  display: inline-block;
  width: 30%;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  height: 41.95px;
  background-color: var(--orange-color);
  color: var(--white-color);
  border: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0px 4px 4px 0px;
}

.footer__payments__section,
.footer__socials__section {
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.payments__icons,
.socials__icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__bottom__text p {
  text-align: center;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 2.5em;
}

@media screen and (min-width: 1104px) {
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .nav__item a {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--medium-font-weight);
  }

  .nav__item a:hover {
    color: var(--orange-color);
  }

  .nav__container {
    height: 82px;
    padding-left: 5em;
    padding-right: 5em;
  }

  .nav__logo h1 {
    font-size: 40px;
  }

  .nav__logo img {
    width: 58.38px;
    height: 58px;
  }
  .nav__form__section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 419px;
    height: 48px;
    gap: 4px;
  }

  .nav__form__section input {
    width: 327px;
    height: 48px;
    background-color: var(--white-color);
    background: url(search.svg);
    padding-left: 40px;
    gap: 8px;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--light-grey-color);
    font-family: var(--body-font);
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
  }

  .nav__form__btn {
    width: 88px;
    height: 48px;
    border-radius: 0.5em;
    border: 1px solid var(--lighter-green-color);
    background-color: transparent;
    color: var(--lighter-green-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }

  .nav__form__btn:hover {
    background-color: var(--hover-green-color);
    color: var(--white-color);
    border: none;
  }

  .nav__login__btn {
    width: 160px;
    height: 48px;
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--lighter-green-color);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .nav__login__btn:hover {
    background-color: var(--hover-green-color);
  }

  .nav__toggle {
    display: none;
  }

  .nav__hamburger__menu {
    display: none;
  }

  .nav__tray__icon {
    display: none;
  }

  .nav__menu {
    display: block;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .mySlides {
    width: 100%;
    height: 766px;
    object-fit: cover;
  }

  .centered h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;
  }

  .centered {
    margin-top: 20em;
    gap: 56px;
  }

  .centered p {
    font-size: 28px;
    font-weight: 600;
  }

  .centered__btn {
    width: 240px;
    height: 80px;
    font-size: 18px;
  }

  .content__box__1,
  .content__box__2 {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 520px;
    gap: 20px;
    padding: 3em;
  }

  .content__box__1 {
    align-self: flex-end;
  }

  .content__box__1 h2,
  .content__box__2 h2 {
    font-size: 48px;
    font-weight: 700;
  }

  .content__container {
    padding: 5em;
    gap: 60px;
  }

  .content__box__image img {
    width: 310px;
    height: 300px;
  }


  .content__box__1__header,
  .content__box__2__header {
    text-align: center;
  }

  .content__box__1__content,
  .content__box__2__content {
    display: flex;
    text-align: left;
    justify-content: space-between;
    gap: 47px;
  }

  .content__box__1__content{
    flex-direction: row-reverse;
  }

  .content__box__1__content p,
  .content__box__2__content p {
    font-size: 28px;
    font-weight: 600;
    line-height: 39px;
  }

  .content__box__1__content h2,
  .content__box__2__content h2 {
    font-size: 48px;
    font-weight: 700;
  }
}
